//
// Foundation > Variables
// --------------------------------------------------------------------------------

// ==========================================================================
// Size
// ==========================================================================

$size-base:           8px;
$size-width-max:      1200px;
$size-width-content:  1024px;

// ==========================================================================
// Font
// ==========================================================================

$font-size-base:  10px;
$font-size-l7:    $font-size-base * 8 / 1;
$font-size-l6:    $font-size-base * 8 / 2;
$font-size-l5:    $font-size-base * 8 / 3;
$font-size-l4:    $font-size-base * 8 / 4;
$font-size-l3:    $font-size-base * 8 / 5;
$font-size-l2:    $font-size-base * 8 / 6;
$font-size-l1:    $font-size-base * 8 / 7;

$font-family-base:  'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', sans-serif;
$font-family-en:    'sofia-pro';
$font-family-ico:   'Font Awesome 5 Free', 'fontawesome';

$font-weight-bold:  900;

// ==========================================================================
// Transition
// ==========================================================================

$transition-duration-base: .1s;