// Colors

$color-primary: #a83d3d;
$color-primary-900: #973734;
$color-primary-800: #a83d3d;
$color-primary-700: #b64243;
$color-primary-600: #c84a4a;
$color-primary-500: #d7524d;
$color-primary-400: #d35e61;
$color-primary-300: #cb797d;
$color-primary-200: #db9da0;
$color-primary-100: #f2ced4;
$color-primary-50: #f9ecee;

$color-gray-900: #071219;
$color-gray-800: #202a30;
$color-gray-700: #394147;
$color-gray-600: #525a5e;
$color-gray-500: #6a7175;
$color-gray-400: #83898c;
$color-gray-300: #9ca0a3;
$color-gray-200: #b5b8ba;
$color-gray-100: #cdd0d1;
$color-gray-50: #e7e8e8;

$color-black: #000;
$color-white: #fff;

// Sizes

$size-width-max: 800px;

$size-breakpoints: (
  'sm':  'screen and (min-width: 576px)',
  'md':  'screen and (min-width: 768px)',
  'lg':  'screen and (min-width: 992px)',
  'xl':  'screen and (min-width: 1200px)',
);
