:root {
  --color-primary: #a83d3d;
  --color-text: #2c2c2c;
  --color-text-lighten: #666;
  --color-link: #0085ff;
  --color-background: #fff;
  --color-background-secondary: #fff6f6;
  --color-background-tertiary: #e5e5e5;
}

:root [data-theme="dark"] {
  --color-text: #fff;
  --color-text-lighten: #e5e5e5;
  --color-background: #2c2c2c;
  --color-background-secondary: #3c3c3c;
  --color-background-tertiary: #e5e5e5;
}
