@import 'tailwindcss';
@import '@nuxt/ui';

@source '../../../content/**/*';

@theme static {
  --font-sans: 'Noto Sans JP', sans-serif;
  --font-mono: 'Source Code Pro', monospace;
  --font-accent: 'Lexend', sans-serif;

  --color-primary-50: #fcf5f4;
  --color-primary-100: #f9edea;
  --color-primary-200: #f3dbd8;
  --color-primary-300: #eabdb7;
  --color-primary-400: #dd978f;
  --color-primary-500: #cd6e66;
  --color-primary-600: #b64b48;
  --color-primary-700: #a83d3d;
  --color-primary-800: #803134;
  --color-primary-900: #6f2c30;
  --color-primary-950: #3d1416;
}
