@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.typekit.net/emp0pno.css');

*,
*::before,
*::after {
  transition-duration: 0.1s;
  transition-property: color, background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', 'Hiragino Sans', 'Yu Gothic UI', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}
