*,
*::before,
*::after {
  transition-duration: 0.1s;
  transition-property: color, background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', 'Hiragino Sans', 'Yu Gothic UI', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}
