*,
*::before,
*::after {
  transition-duration: 0.1s;
  transition-property: color, background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}
