# Autofix

name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  # Autofix
  autofix:
    name: Autofix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [24]
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        id: pnpm-install
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@efcb663fc60e97218a2b2d6d827f7830f164739e
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run lint fix
        run: pnpm lint:fix

      - name: Run format
        run: pnpm format

      - name: Autofix
        uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
