# Dependency Review

name: PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  # Dependency Review
  dependency-review:
    name: Dependency Review
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a
