# Semantic PR

name: PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  # Semantic Title
  semantic:
    name: Semantic Title
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    timeout-minutes: 10

    if: github.repository == 'Hiratake/hiratake-web'

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@b439535a8eb2122b748ed2b45d1693aaabe5b0aa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
